# global options
{
	admin off
	persist_config off
	auto_https off

	log {
		format json
	}

	servers {
		trusted_proxies static private_ranges 100.0.0.0/8 # trust railway's proxy
	}
}

# site block, listens on the $PORT environment variable, automatically assigned by railway
:{$PORT:80} {
	log {
		format json
	}

	respond /health 200

	# Security headers
	header {
		# Prevent some browsers from MIME-sniffing a response away from the declared Content-Type
		X-Content-Type-Options "nosniff"
		# Remove Server header
		-Server
	}

	# serve from the 'dist' folder (Vite builds into the 'dist' folder)
	root * {{.DIST_DIR}}

	# Handle static files
	file_server {
		hide .git
		hide .env*
	}

	# Compression with more formats
	encode {
		gzip
		zstd
	}

	# match against direct against HTML file matches, folder-level index.html, and optionally fallback to root index.html
	try_files {path} {path}.html {path}/index.html{{if .IndexFallback}} /index.html{{end}}
}
