# this dockerignore is very paranoid, intentionally.

# test hidden folders and
.vscode

# top-level, hidden folder
/.copier

# hidden file
.env-specific

# test glob on hidden files (.env-specific) with a trailing glob
.env*

# trailing slashes are stripped, so this excludes files and folders named __pycache__
__pycache__/

# test root-level folder
/test

# dockerignore excludes hidden files with a single glob (/tmp/.should-hide)
/tmp/*

# leading glob
*.log

# non-hidden filename at the root
Justfile

# root-level file glob (app/TODO should be included)
/TODO*

# root-level file exclusion (app/README.md should be included)
/README.md

# should hide docker-compose{-2}.yml files
docker-compose*.yml

# Test negation
negation_test/*
!negation_test/should_exist.txt
!negation_test/should_not_exist.txt
!negation_test/folder_does_not_exist/
!negation_test/existing_folder/

# test that ** wildcard matches nested directories
# This should exclude both /node_modules and /web/node_modules
**/node_modules
